---
import AppEntry from '../react-app/AppEntry'
import HeadMeta from '../components/HeadMeta.astro'
---

<html lang="en">
  <head>
    <HeadMeta
      title="Circle Flags UI - Typed SVG Flag Components for Modern Frameworks"
      description="Circular SVG flag components for React, Vue, Solid, and Svelte with TypeScript, tree-shaking, and SSR support."
    />
  </head>
  <body>
    <div id="root">
      <AppEntry client:only="react" />
    </div>
  </body>
</html>
