# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: PR Checks

on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
      - ready_for_review
  workflow_dispatch: {}

concurrency:
  group: pr-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  format:
    uses: ./.github/workflows/check-format.yml

  lint-typecheck:
    uses: ./.github/workflows/check-lint-typecheck.yml

  test:
    uses: ./.github/workflows/check-test.yml

  build:
    uses: ./.github/workflows/check-build.yml
